.cententbox1{
            width:720px;
            height:492px;
            background-color: rgba(242, 242, 242, 1);
            position:absolute;
            left:0px;
            top:0px;
        }
        .cententbox2 {
            width: 720px;
            height: 492px;
            background-color: rgba(242, 242, 242, 1);
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .cententbox3 {
            width: 720px;
            height: 492px;
            background-color: rgba(242, 242, 242, 1);
            position: absolute;
            left: 0px;
            top: 0px;
        }
        .cententbox4 {
            width: 720px;
            height: 492px;
            background-color: rgba(242, 242, 242, 1);
            position: absolute;
            left: 0px;
            top: 0px;
        }
         ul.box > li {
            float: left;
            width: 500px;
            display: block;
            position: relative;
            height: 492px;
        }
        ul.box>li:nth-of-type(1){width:200px;}
        ul.handler{list-style:none;}
            ul.handler > li {
                width: 300px;
                height: 123px;
                color: gray;
                cursor: pointer;
            }
            ul.handler > div > div:active {
               background-color:#D24726;
            }