body{
    overflow-x:hidden;
    font-family: '微軟正黑體';
}

#header{
	height: 60px;
	background-color:#FFA500;
	text-align:center;
	line-height:60px;
}

#header div{
	float: left;
	margin-left: 20px;
}

#footer{
	background-color:#FFA500;
	margin:0 auto;
	height: 290px;
	background-color: rgba(54, 54, 54, 1);
	margin-bottom: 10px;
    clear: both;height: 110px;background-color: rgba(210, 71, 38, 1);
}

.footer{
    clear: both;
    height: 110px;
    background-color: rgba(210, 71, 38, 1);
}

.footer a{
    line-height: 60px;
    width: 300px;
    text-align: center;
}

#footer div{
	float: left;
	font-family: '微软雅黑';
	font-weight: 400;
	text-align:center;
}

ul li{
	margin: 0px;
    padding: 0px;
}

.title{
	font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	text-align: center;
}

.title-level1{
	font-family: '微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 40px;
	text-align: center;
}

.title-level2{
	font-family: '微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 36px;
	text-align: left;
}

.title2{
	font-family: '微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
	font-weight: 700;
	font-style: normal;
	text-align: left;
	font-size: 32px;
}
.content1{
	font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	display:inline-block;
	width: 630px;
}

.content2{
	width: 1000px;
	text-align: center;
	margin:0px auto;
}

.carousel-hight{
	padding-top: 0px;
	height:500px;
}

.miaoshu2{
	font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	color: #000000;
	font-size: 18px;
}

.partner-description{
	font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	color: #000000;
    text-align: left;
    margin-left:20%;
    padding-top: 30px;
}

.contactus{
	border-width: 0px;
    clear: both;
    height:500px;
    background-color: rgba(242, 242, 242, 1);
    padding-top: 20px;
}

.contactus-divgroup{
    clear:both;
    margin-left: 15%;
}

.contactus-div{
    margin: 2%;
    display: inline-block;
}

.contactus-address-panel{
    background-color: rgba(255, 255, 255, 1);
    height: 336px;
    width: 1000px;
}


.contact-title{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 26px;
}
.contact-content{
	font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
	color: #5E5E5E;
	text-align: left;
}


ul li{
    list-style-type: none;
}

ul{
    padding:0;
    margin:0;
}
.copyright{
    color:#C9C9C9;
}

.copy-title{
    color: #FFFFFF;
}

.product_img{
    margin-top: 40px;
    margin-left: 120px;
    width:50px;
    height:50px;
}

.product_div{
    width: 300px;
    height: 123px;
    background-image: url('/static/images/transparent.gif');
    background-color: gray;
    cursor: pointer;
    outline: none;
}
.product{
    height: 678px;
    width:  1440px;
    margin: 0 auto;
}

.solution{
    background-color: rgba(242, 242, 242, 1);
}

.solution-img{
    width:330px;
    height:195px;
}

.solution-div{
    float: left;
    position: relative;
    left: 120px;
    top:-80px;
    font-family: '微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 26px;
	color: #FFFFFF;
}

.solution-content{
    color: white
}

/*新增加等css*/
.framework{
    width: 1440px;
    margin: 0 auto;
}

.header-logo{
    width: 800px;
    float: left;
}

.header-menu{
    float: left;
    margin-right: 15%;
}

.menu-div{
    height: 20px;

}
.menu-search{
    width: 60px;
    height: 20px;
    line-height: 20px;
}
.login-logo{
    float: left;
    margin-left: 20px;
    -webkit-appearance: none;
}

.carousel-img{
    clear:both;
    float: right;
    width:500px;
    height:500px;
}
.carousel-img-active{
    clear:both;
    width:100%;
    height:500px;
}

.carousel-content-portal{
    display:block;
    padding-left: 100px;
    font-family: 'Bauhaus 93 Normal', 'Bauhaus 93';
	font-weight: 400;
	font-style: normal;
	font-size: 22px;
	color: #FFBF9B;
	display:block ;
	padding-top: 100px;
	padding-left: 100px;
}
.carousel-content-words{
    padding-top: 120px;
    padding-left: 100px;
}
.carousel-content-link{
    display:block;
    color: white;
    padding-top: 220px;
    padding-left: 100px;
    target-new: window;
}

.carousel-div1{
    background-color: rgba(210,71,38,1);
    height: 500px
}

.carousel-div2{
    background-color: rgba(254,106,15,1);
    height: 500px
}

.choice{
    height: 805px;
}

.choice-div{
    display: inline-block;
}

.choice-span{
    font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	display:inline-block;
	width: 630px;
}

.choice-img1{
    float: left;
    display: inline;
}

.choice-img2{
    float: right;
    display: inline;
}
.choice-framework{
    clear: both;
    height: 220px;
    width: 1100px;
}

.mession{
    clear: both;
    background-color: rgba(242, 242, 242, 1);
    height: 450px;
}

.mession-div{
    width: 70%;
    margin-top: 20px;
    margin: 0 auto;
}

.description{
    font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	color: #000000;
	font-size: 18px;
    display:inline;
}

.mession-divgroup{
     width: 1000px;
    margin-top: 20px;
    margin: 0 auto;
}

.mession-div1{
    margin-left:100px;
    width: 300px;
    font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}

.mession-framework{
	float: left;
	margin-left: 25px;
	width: 300px;
}
.mession-content{
    font-family: '微軟正黑體 Bold', '微軟正黑體 Regular', '微軟正黑體';
	font-weight: 700;
	font-style: normal;
	font-size: 20px;
}
.mession-detail{
    font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	font-size: 18px;
}

.partner{
    clear: both;
    background-color: white;
    height:300px;
}

.about{
    font-family: '微软雅黑';
	font-weight: 400;
	font-style: normal;
	font-size: 26px;
    clear: both;
    height: 230px;
    background-color: rgba(54,54,54,1);
}

.about-menu{
    display:inline;
    float: left;
    margin-left: 50px;
}

.about-submenu{
	font-family: '微軟正黑體';
	font-weight: 400;
	font-style: normal;
	font-size: 14px;
    color: #C9C9C9;
}

.about-div{
    float: left;
    display: inline;
}

.secret{
    margin-left: 460px;
}

.service{
    margin-left: 25px;
}

.info{
    margin-left: 15%;
}

.about-hr{
    color: #333333;
    width: 1043px;
    margin-left: 15%;
}